<ion-navbar *navbar primary>
  <ion-title>
    Project "{{ project.name }}"
  </ion-title>
  <ion-buttons end>
    <button (click)="shareIconTapped()" *ngIf="!project.preview">
      <ion-icon name="share"></ion-icon>
    </button>
    <button (click)="addIconTapped()" *ngIf="project.preview">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="project">

  <ion-card>

    <div *ngIf="project.location" class="location">
      <google-maps [center]="project.location" [markers]="[project.location]"></google-maps>
      <button fab fab-right fab-bottom class="fab-map">
        <ion-icon name="pin"></ion-icon>
      </button>
    </div>

    <ion-item>
      <p>{{ project.createdAt | date: 'medium' }}</p>
      <ion-card-header>
        {{ project.name }}
      </ion-card-header>
      <ion-card-content>
        {{ project.description }}
      </ion-card-content>
    </ion-item>
  </ion-card>

  <project-photo-list [project]="project"></project-photo-list>

</ion-content>